@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0px 7vw;
  background-color: #2b2b2b;
  color: white;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 20px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

header nav button {
  border: none;
  width: 175px;
  height: 50px;
  background-color: #bfaff2;
  font-size: 18px;
  border-radius: 15px;
  color: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 120px 0px;
  gap: 20px;
}

main article {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 45px;
}

main h1 {
  font-size: 5vw;
}

main article button {
  width: 175px;
  height: 50px;
  color: black;
  background-color: #f8d57e;
  font-size: 18px;
  border: none;
  border-radius: 15px;
}

main p {
  font-size: 2vw;
  max-width: 400px;
  color: grey;
}

main img {
  background-color: #333333;
  border-radius: 15px;
  width: 50%;
}


.marcas {
  display: flex;
  align-items: center;
  border: 1px solid rgba(69, 69, 69, 0.329);
  border-left: none;
  border-right: none;
  padding: 70px 0px;
}

.marcas article {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marcas article img {
  width: 70%;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
  border: 15px;
}

.product-img img {
  width: 70%;
  background-color: #fdf5df;
  border-radius: 20px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.features article {
  width: 260px;
  height: 500px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.feedback {
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 80px 162px;
  background-color: #bfaff2;
  min-height: 500px;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
  align-self: center;
  max-width: 1400px;
  color: black;
  gap: 60px;
  margin: 30px 0px;
}

.feedback article {
  display: flex;
  gap: 20px;
}

.feedback article section {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.questions {
  display: flex;
  padding: 100px 0px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.questions img {
  width: 50%;
}

.questions p {
  color: grey;
  width: 400px;
}

.questions h1 {
  font-size: 60px;
  width: 50%;
}

.questions article {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.questions button {
  width: 175px;
  height: 50px;
  border-radius: 15px;
  border: none;
  color: black;
  font-size: 18px;
  background-color: #F8D57E;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
  border-top: 1px solid grey;
}

footer footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: none;
  align-items: center;
}

.infos {
  display: flex;
  gap: 20px;
}

footer footer article {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}

footer footer article section {
  display: flex;
  gap: 40px;
}

footer input {
  width: 300px;
  height: 50px;
  padding-left: 30px;
  background-color: rgb(66, 66, 66);
  color: #d5d5d5;
  border: none;
  outline: none;
  border-radius: 15px;
}

footer button {
  background-color: #BFAFF2;
  height: 50px;
  width: 125px;
  color: black;
  border-radius: 15px;
  font-size: 20px;
  border: none;
}